## Team 19
1. Josetian Halim Maha Budi - Universitas Negeri Semarang (Group Leader)
2. Muhammad Yusuf Bahtiar - Universitas Pendidikan Indonesia (Group Member)
3. Talitha Fayarina Adhigunawan - Universitas Pendidikan Indonesia (Group Member)
4. Noor Shazreen binti Mortadza - Universitas Sebelas Maret (Group Member)
5. Imelda Pangaribuan - Universiti Malaysia Terengganu (Group Member)
6. Raden Fadhil Anugerah Ardiwilaga - Universitas Pendidikan Indonesia (Group Member)
7. Mochamad Khaairi - Universitas Pendidikan Indonesia (Group Member)

# Case Study 1

In [ ]:
# Initialize variables to store gallon and mile values
gallons = 0
driven = 0
# Initialize variables to store total gallons and miles
total_gallon = 0
total_driven = 0

# Start a loop that will continue until the user enters -1 for gallons
while gallons != -1:
    # Receive input from the user for the number of gallons used
    gallons = float(input("Enter gallons used (-1 to end): "))

    # Check if the input gallons is not -1 to continue the process
    if gallons != -1:
        # Receive input from the user for the number of miles driven
        driven = float(input("Enter miles driven:"))

        # Add the used gallons to the total gallons
        total_gallon += gallons

        # Add the driven miles to the total miles
        total_driven += driven

        # Calculate and print the miles per gallon
        print("The miles/gallon for this tank was {:.6f}".format(driven / gallons))

# After the loop is finished, calculate and print the overall average miles per gallon
print("The overall average miles/gallon was {:.6f}".format(total_driven / total_gallon))

Enter gallons used (-1 to end): 12.8
Enter miles driven:287
The miles/gallon for this tank was 22.421875
Enter gallons used (-1 to end): 10.3
Enter miles driven:200
The miles/gallon for this tank was 19.417476
Enter gallons used (-1 to end): 5
Enter miles driven:120
The miles/gallon for this tank was 24.000000
Enter gallons used (-1 to end): -1
The overall average miles/gallon was 21.601423

# Case Study 2

In [ ]:
import random

# Initialize variables
# variabel for sum of two dice
sum = 0
# sign for first roll
first = 0
point = 0
# sign for end (either win or lose)
flag = 0

# Start a loop that will continue until the flag is set to 1
while flag != 1:
    # Roll two dice
    dice1 = random.randint(1, 6)
    dice2 = random.randint(1, 6)

    # Wait for the user to press Enter to continue
    input("Press enter to continue")

    # Calculate the sum of the two dice
    sum = dice1 + dice2

    # Print the results of the dice rolls and their sum
    print("First dice is {} and second dice is {}".format(dice1, dice2))
    print("Sum is {}".format(sum))

    # Check the win/lose conditions on the first roll
    if (sum == 7 or sum == 11) and first == 0:
        print("==Player wins==")
        flag = 1
    elif (sum == 2 or sum == 3 or sum == 12) and first == 0:
        print("==Craps==")
        flag = 1
    else:
        # Check win/lose conditions on subsequent rolls
        if sum == point:
            print("==Player reaches points==")
            flag = 1
        elif sum == 7:
            print("==Player loses==")
            flag = 1
        else:
            # Set the point and mark the first roll as complete
            point = sum
            first = 1
            print("Your current point is {}".format(point))
            print()

Press enter to continue
First dice is 2 and second dice is 4
Sum is 6
Your current point is 6

Press enter to continue
First dice is 1 and second dice is 5
Sum is 6
==Player reaches points==

# Case Study 3

In [ ]:
# import statistics library
import statistics

# data list
list = [174, 335, 278, 214, 422, 513, 737, 672, 489, 412, 1301, 1105, 1123, 1376, 1502, 894, 665, 1704, 1656, 1342]

# use of function in statistics library
print("Minimum: {}".format(min(list)))
print("Maximum: {}".format(max(list)))
print("Range: {}".format(max(list) - min(list)))
print("Mean: {}".format(statistics.mean(list)))
print("Median: {}".format(statistics.median(list)))
print("Mode: {}".format(statistics.mode(list)))
print("Variance: {}".format(statistics.variance(list)))
print("Standard Deviation: {}".format(statistics.stdev(list)))

Minimum: 174
Maximum: 1704
Range: 1530
Mean: 845.7
Median: 704.5
Mode: 174
Variance: 253620.74736842106
Standard Deviation: 503.60773164082883